<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677717797094-o3eehmuh4587m43p0lkb77lsiefkv8nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677717797094-o3eehmuh4587m43p0lkb77lsiefkv8nh</string>
	<key>API_KEY</key>
	<string>AIzaSyDAHJae1KRF5WVVcp4CUuX6iPVMxtKNp0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>677717797094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danglong.Awesomechat</string>
	<key>PROJECT_ID</key>
	<string>awesomechat-5de51</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomechat-5de51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677717797094:ios:fc6ebbed3d6922b1b1f327</string>
	<key>DATABASE_URL</key>
	<string>https://awesomechat-5de51-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>